#top{
    width: 50%;
    margin-left: 50%;
}
#search,#search_hot{
    width: 1200px;
    margin: auto;
}

#top ul li{
    margin-left: 1.1rem;
    font-size: 0.9rem;
}

#top ul li a,#search_hot ul li a,#nav ul li a{
    color: #6c757d;
}

#top ul li a:hover,#search_hot ul li a:hover{
    color: #B81B22;
    text-decoration: none;
}

#my_wx{
    position: relative;
}

#my_wx_picture{
    z-index: 10;
    display: none;
    position: absolute;
    left: -5rem;
    top: 3rem;
}

#my_wx:hover #my_wx_picture{
    display: block;
}

#nav{
    width: 1200px;
    margin: auto;
    z-index: 100;
}
#nav div{
    display: flex;
}
#nav div>a{
    display: inline-block;
    width: 185px;height: 45px;
}
#nav div ul li a:hover{
    text-decoration: none;
    color:#B81B22;
}
#nav>div>ul>li:last-child{
    border-right: 0;
}
#nav>div>ul li{
    width:110px;
    text-align: center;
    height: 30px;
    margin-top: 15px;
}
#nav>div>ul>li{
    border-right: 2px solid black;
    position: relative;
}
#hot_pic{
    display: block;
    position:absolute;
    left: 67px;
    top:-5px;
}
#nav>div>ul>li+li:after{
    content: "";
    width: 0;height: 4px;
    background: #B81B22;
    position: absolute;
    top: 100%;
    left: 50%;
    transition: all .4s;
}
#nav>div>ul>li+li:hover:after{
    left: 0%;
    width: 100%;
 }
 #nav>div>ul>li>ul{
    width: 100%;height: 0;
    overflow: hidden;
    line-height: 2;
    background-image: linear-gradient(to bottom,rgb(247, 238, 234) 0%, rgb(214, 178, 140) 100%);
    text-align: center;
    position: absolute;
    top: 2.2rem;
    transition: all .4s ease;
}
#shirt_1:hover #shirt_1_list,#shirt_2:hover #shirt_2_list,#shirt_3:hover #shirt_3_list,#shirt_4:hover #shirt_4_list,#shirt_5:hover #shirt_5_list,#shirt_6:hover #shirt_6_list,#shirt_7:hover #shirt_7_list,#shirt_8:hover #shirt_8_list{
    height: 280px;
    z-index: 10;
}